:root {
    --primary-color: rgba(70, 96, 128, 1);
    --secondary-color: rgba(33, 199, 129, 1);
    --white: #ffffff;
    --gray-light: #f8f9fa;
  }
  
  .bg-primary {
    background-color: var(--primary-color) !important;
  }
  
  .bg-secondary {
    background-color: var(--secondary-color) !important;
  }
  
  .text-primary {
    color: var(--primary-color) !important;
  }
  
  .text-secondary {
    color: var(--secondary-color) !important;
  }
  
